*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #0084fd;
    --bg-color: #9792e4;
    --secondary-bg-color: #b5ddff;
    --font-gray-color: #4c5b69;
}


header{
    background-color: var(--main-color);
    height: 85px;
    color: white;
}

body{
    font-family: 'Lato', sans-serif;
    word-spacing: 3px; 
    line-height: 2rem;
}

.flex{
    display: flex;
}

.flex-space-between{
    justify-content: space-between;
    align-items: center;
}

.center{
    text-align: center;
}

.container{
    padding: 0 3rem;
}



/*  HEADER  */

.header-section{
    height: 100%;
}

ul.ul-menu{
    display: flex;
}

ul.ul-menu li{
    list-style-type: none;
}

.fa-bars{
    font-size: 2rem;
}

li.link-desktop{
    display: none;
}

.card-content h2{
    color: var(--main-color);
    padding-bottom: 2rem;

}

.card-content p{
    color: var(--font-gray-color) ;
}

.card-content p:first-child{
    padding-bottom: 2rem;
}

.button{
    border: none;
    border-radius: 20px;
    padding: .5rem 3rem .5rem 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.blue{
    background-color: var(--main-color);
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.card-content{
    width: 100%;
}

.card{
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: #b5ddff;
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 2rem;
    
    
}

.img-card img{
    width: 80%;
}

.img-card{
    text-align: center;
}

.card:first-child{
    margin-top: 4rem;
    padding: 2rem 1.5rem 0 1.5rem;
}

.card:last-child{
    margin-bottom: 6rem;
}

.sp-card,
.testimonials-card,
.benefits-card{
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 2rem;
}

#img-card,
.sp-card h2,
.sp-card p
{
    padding-bottom: 2rem;
}

.sp-card p{
    font-style: italic;
}

.fa-arrow-down{
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 1rem 1.2rem 1rem 1.2rem;
}

#img-card{
    width: 100%;
}

.sp-section,
.cards,
.benefits-cards{
    flex-direction: column;
}

.sp-card,
.testimonials-card,
.benefits-card,
.about-us-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-icon{
    color: var(--main-color);
    font-size: 6rem;
    padding-bottom: 2rem;
}

.white{ 
    background-color: white;
}

.sp-img-text{
    width: 100%;
}

.sp-img-text img{
    width: 100%;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

.strategic-planning h1{
    color: white;    
    padding-bottom: 4rem;
    font-size: 3rem;
}

.sp-text{
    padding-bottom: 3rem;
    color: white;
}


.lilla,
section.benefits,
.strategic-planning,
section.get-started{
    background-color: #9792e4;
}

section.strategic-planning,
section.benefits,
section.testimonials,
section.about-us,
section.get-started,
section.credits{
    padding: 2rem 0;
}

.content-get-started,
.credits-section{
    text-align: center;
}

section.credits{
    background-color:#333333 ;
    color: white;

}

.credits-section{
    width: 440px;
    margin: auto;
}

.motto-credits{
    padding-bottom: 4rem;
}

/* ! RESPONSIVE */

@media screen and (min-width:768px) {
   
    .card{
        width: calc((100% / 3) - 2rem);
        margin: 0 1rem 2rem 1rem;
    } 

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    .card:first-child{
        margin-top: 0;
        width: calc((100% / 3 *2) - 2rem) ;
        
    }

    .card:last-child{
        margin-bottom: 2rem;
    }

    .benefits-card{
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    .benefits-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-us-section{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .credits-section{
        width: 333px;
        margin: auto;
        padding: 0;
    }

    .img-card img{
        width: 60%;
    }
    
    .img-card{
        text-align: left;
    }

    
}



@media screen and (min-width:992px) {

    .container{
        padding: 0 10rem;
    }

    .sp-img-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 50%;
        margin-right: 5rem;
    }

    .sp-section{
        flex-direction: row;
        padding: 0 15rem;
        align-items: flex-end;
    }

    .strategic-planning h1{
  
      font-size: 2rem;
    }

    .sp-card{
        flex-basis: 50%;
    }

    .benefits-card{
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }

    .credits-section{
        padding: 0;
    }

    .ul-menu{
        display: flex;
        align-items: center;
    }

    li#hamburger{
        display: none;
    }

    li.link-desktop{
        display: inline-block;
        margin-left: 2rem;
        
    }

    #button-header{
        background-color: white;
        border-radius: 20px;
        color: black;
        padding: .5rem 1rem .5rem 1rem;
    }

    .double{
        display: flex;
        flex-direction: row;
    }

    .img-card{
        align-content: flex-end;
    }

    .img-card img{
        width: 60%;

    }
    
    .text-card{
        flex-basis: 50%;
    }

    .img-card{
        flex-basis: 50%;
        text-align: center;
        vertical-align: bottom;
        display: grid;
    }

    #img-card{
        width: 70%;
    }

}
