*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0084fd;
    height: 85px;
    color: white;
}

body{
    font-family: 'Lato', sans-serif;
}

.flex{
    display: flex;
}

.flex-space-between{
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 0 3rem;
}



/*  HEADER  */

.header-section{
    height: 100%;
}

ul.ul-menu{
    display: flex;
}

ul.ul-menu li{
    list-style-type: none;
}

.fa-bars{
    font-size: 2rem;
}

li.link-desktop{
    display: none;
}

/* MAIN */

.card{
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: #b5ddff;
    margin-bottom: 2rem;
    border-radius: 20px;
    height: 400px;
}

.card:first-child{
    margin-top: 4rem;
}

.card:last-child{
    margin-bottom: 6rem;
}

.sp-card,
.testimonials-card,
.benefits-card{
    border-radius: 20px;
    height: 300px;
    margin-bottom: 2rem;
}

/* .sp-card:last-child,
.testimonials-card:last-child,
.benefits-card:last-child{
    margin-bottom: 0;
} */

.sp-section,
.cards,
.benefits-cards{
    flex-direction: column;
}

.sp-card,
.testimonials-card,
.benefits-card,
.about-us-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.white{ 
    background-color: white;
}

.lilla,
section.benefits,
.strategic-planning,
section.get-started{
    background-color: #9792e4;
}

section.strategic-planning,
section.benefits,
section.testimonials,
section.about-us,
section.get-started,
section.credits{
    padding: 2rem 0;
}

.content-get-started,
.credits-section{
    text-align: center;
}

section.credits{
    background-color:#333333 ;
    color: white;

}

.credits-section{
    width: 440px;
    margin: auto;
}

.motto-credits{
    padding-bottom: 4rem;
}

/* ! RESPONSIVE */

@media screen and (min-width:768px) {
   
    .card{
        width: calc((100% / 3) - 2rem);
        margin: 0 1rem;
    } 

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    .card:first-child{
        margin-top: 0;
        width: calc((100% / 3 *2) - 2rem) ;
        margin-bottom: 2rem;
    }

    .card:last-child{
        margin-bottom: 0;
    }

    .benefits-card{
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    .benefits-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-us-section{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .credits-section{
        width: 333px;
        margin: auto;
        padding: 0;
    }

}



@media screen and (min-width:992px) {

    .container{
        padding: 0 10rem;
    }

    .sp-img-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 50%;
    }

    .sp-section{
        flex-direction: row;
        justify-content: space-around;
        padding: 0 15rem;
    }

    .sp-card{
        flex-basis: 50%;
    }

    .benefits-card{
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }

    .credits-section{
        padding: 0;
    }

    .ul-menu{
        display: flex;
        align-items: center;
    }

    li#hamburger{
        display: none;
    }

    li.link-desktop{
        display: inline-block;
        margin-left: 2rem;
        
    }

    #button-header{
        background-color: white;
        border-radius: 20px;
        color: black;
        padding: .5rem 1rem .5rem 1rem;
    }


}
